@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h2 class="display-4">Welcome to the Dojo Activity Center</h2>
    <div class="register">
        <partial name="Register"></partial>

    </div>
    <div class="login">
        <partial name="Login"></partial>
    </div>

</div>
